body {
  margin: 0;
  padding: 0;
}


.greeting {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hello {
  margin-bottom: 25px;
  color: white;
  font-family: 'Fasthand', cursive;
  font-size: 6rem;
}

div {
  text-align: center;
}

video{
  position: static;
  width: 100%;
  z-index: -1;
  top: 25%;
}

p{
  color: white;
}